.deckFilterSection {
  width: 100%;
  background: rgba(86, 61, 124, .15);
  padding: 1%;
  border: 1px solid;
  margin-bottom: 1%;
}

.deckFilter {
  width: 18%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.cardsSection, .deckContentsSection {
  background: rgba(86, 61, 124, .15);
  padding: 1%;
  border: 1px solid;
  height: 400px;
}

.cardsSection {
  width: 79%;
  float: left;
  margin-right: 1%;
}

.deckContentsSection {
  width: 20%;
  float: right;
  overflow-y: auto;
  overflow-x: hidden;
}
