.deckToolbar {
  width: 100%;
  background: rgba(86, 61, 124, .15);
  padding: 1%;
  border: 1px solid;
  margin-bottom: 1%;
  margin-top: 1%;
}

.deckFilter {
  width: 18%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.cardsSection, .deckContentsSection, .controls {
  background: rgba(86, 61, 124, .15);
  padding: 1%;
  border: 1px solid;
  height: 400px;
}

 .controls {
   height: auto;
   margin-top: 1%;
 }

.cardsTitleSection, .deckContentsTitleSection {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.cardsSection, .cardsTitleSection {
  width: 79%;
  float: left;
  margin-right: 1%;
  padding-right: 2%;
  overflow-y: overlay;
}

.deckContentsSection, .deckContentsTitleSection {
  width: 20%;
  float: right;
  overflow-y: auto;
  overflow-x: hidden;
}

.deckContentsSection {
  background: linear-gradient(
    to bottom,
    rgba(86, 61, 124, .15) 0%,
    rgba(86, 61, 124, .15) 370px,
    black 380px,
    black 100%);
}

.deckToolbar .section {
  display: none;
}

.deckToolbar .active {
  display: block;
}

.deckToolbar .saveButton {
  float: right;
}

.deckToolbar .deckName {
  width: 60%;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.deckList.abilityCard.cantAdd {
  background: gray;
}

.cardControlSection {
  position: relative;
}

.demoContainer {
  position: absolute;
  right: 20px;
  top: 95px;
}
