.pageBorder {
  width: 790px;
  height: 710px;
}

.turnControls {
  float: left;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 2px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.overlay {
  // ... positioning
  z-index: 4100;
}

.overlay:before {
  content : '';
  position : absolute;
  top : 0px;
  width : 100%;
  height : 3px;
  background : #0f0;
  opacity : .2;
  animation: vline 5s linear infinite;
}

.overlay:after {
  // ... positioning
  box-shadow: 0 2px 6px rgba(25,25,25,0.2),
              inset 0 1px rgba(50,50,50,0.1),
              inset 0 3px rgba(50,50,50,0.05),
              inset 0 3px 8px rgba(64,64,64,0.05),
              inset 0 -5px 10px rgba(25,25,25,0.1);
}

@keyframes vline {
  0%   { top: 0px; opacity: 0.2; }
  50% { top: 100%; opacity: 0.2; }
  51% { opacity: 0; }
  100% { top: 100%; opacity: 0; }
}

#missionProgramDisplay {
  display: inline-block;
  border: 1px solid black;
  width: 100%;
  height: 150px;
  position: relative;
  background: white;
}

.missionProgramDisplayLockOverlay {
  width: 100%;
  height: 100%;
  background: gray;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
}

.missionProgramDisplayLockOverlay {
  display: none;
}

.turnPlaying .missionProgramDisplayLockOverlay,
.gameOver .missionProgramDisplayLockOverlay {
  display: block;
}

#missionControlsActionBox {
  width: 100%;
  height: 440px;
}

#missionActionCanvas {
  width: 100%;
  height: 100%;
}

#missionActionDisplay {
  float: left;
  width: 600px;
  height: 440px;
  background: black;
  display: inline-block;
  position: relative;
}

#missionControlsDisplay {
  float: right;
  border: 1px solid black;
  box-sizing: border-box;
  width: 166px;
  height: 100%;
  position: relative;
}

.unitDetailsContainer {
  position: absolute;
  bottom: 75px;
  width: 148px;
  height: 200px;
  margin: 8px;
  margin-bottom: 0px;
  border: 1px solid gray;
  background: black;
}

.endTurnContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px;
}

#missionEndTurnButton:active {
  background: #2ecc71;
}

#missionEndTurnButton {
  font-size: 20px;
  height: 60px;
  width: 100%;
  background: #27ae60;
  border: 1px solid green;
  cursor: pointer;
}

@keyframes flash-green {
  0% {
    background: #27ae60;
    width: 100%;
    height: 60px;
    margin: 0 0% 0 0%;
  }
  50% {
    background: #AAFFAA;
    width: 90%;
    height: 50px;
    margin: 5px 5% 5px 5%;
    border-radius: 10px;
  }
  100% {
    background: #27ae60;
    width: 100%;
    height: 60px;
    margin: 0 0% 0 0%;
  }
}

#missionEndTurnButton.flashing {
  animation-name: flash-green;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#gameContainer[host="true"] #missionEndTurnButton {
  display: inherit;
}

.deckStatusContainer {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 7px;
  bottom: 0;
  width: 40px;
}

.drawPile, .discardPile, .lostCardsPile {
  background: tan;
  padding: 2px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin-top: 7px;
}

.abilityContainer {
  display: inline-block;
  padding: 8px 2px;
  height: 100px;
}

.abilityCard {
  height: 130px;
  width: 100px;
  border: 4px solid black;
  border-radius: 4px;
  position: relative;
  box-sizing: content-box;
}

.abilityCard.halfSize {
  height: 58px;
  width: 58px;
  margin-bottom: 4px;
}

.abilityCard.selected {
  border: 4px solid red;
  position: relative;
  top: -10px;
}

.abilityCard.deckList {
  border-width: 1px;
  width: 128px;
  height: 32px;
  font-size: 14px;
  margin-top: -2px;
  box-sizing: border-box;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  cursor: pointer;
  display: inline-block;
  padding-right: 15px;
}

.cardsSection .abilityCard.deckList {
  margin: 0 0.5%;
  margin-bottom: -2px;
  width: 24%;
  position: relative;
}

.abilityCard.deckList .abilityPerkCountCircle,
.abilityCard.deckList .levelCircle {
  z-index: 1;
  position: absolute;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  text-align: center;
  background: red;
  border-radius: 20px;
}

.abilityCard.deckList .abilityPerkCountCircle {
  right: 0px;
  top: 0px;
}

.abilityCard.deckList .levelCircle {
  bottom: 0px;
  right: 0px;
  background: lightgreen;
}

.abilityPerkCountCircle .abilityPerkCountText,
.levelCircle .levelText {
  margin-top: -1px;
  font-size: 10px;
  font-weight: bold;
}

.abilityCard.deckList .experienceBarContainer {
  border: 1px solid black;
  background: white;
  border-radius: 4px;
  height: 4px;
  position: relative;
  margin-left: 2px;
  margin-right: 0px;
}

.abilityCard.deckList .experienceBar {
  height: 100%;
  background: lightgreen;
}

.deckList .abilityCardName {
  position: relative;
  top: 2px;
  font-size: 12px;
  font-weight: bold;
  cursor: inherit;
}

.abilityCard.deckList:first-child {
  margin-top: 0;
}

.abilityCard.halfSize.selected {
  top: 0;
}

.abilityCard.disabled:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.5;
  background-color: gray;
}

.abilityCard {
  background-color: tan;
  /*background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
*/
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
}

.cardContactBounce { background-color: #ac0; }
.cardContactHit { background-color: #c16; }
.cardContactAOE { background-color: #c11; }
.cardContactPen { background-color: #22D; }
.cardContactPierce { background-color: #BBB; }


.abilityCardIcon,
.abilityCardIconDesc,
.abilityCardTextDesc {
  background: black;
  border: 1px solid white;
  position: absolute;
}

.abilityCardIcon img {
  width: 100%;
  height: 100%;
}

.abilityCardIcon {
  width: 50px;
  height: 50px;
  box-sizing: border-box;

  top: 8px;
  left: 25px;
}

.halfSize .abilityCardIcon {
  top: 4px;
  left: 4px;
}

.deckList .abilityCardIcon {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 1px;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
}

.cooldownIcon,
.topLeftIcon {
  background-image: url('../assets/icons/clock.png');
  background-size: 100%;
  height: 20px;
  text-align: center;
  width: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
}

.topLeftIcon {
  left: 2px;
}

.topLeftIcon.summonLimit {
  background-image: url('../assets/icons/heart.png');
  background-position-y: 1px;
  background-repeat: no-repeat;
}

.cooldownIcon .cooldownText,
.topLeftIcon .topLeftText {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #DDD;
  font-size: 14px;
  position: relative;
  top: -1px;
}

.abilityCardIconDesc {
  left: 8px;
  right: 8px;
  top: 68px;
  height: 20px;
  color: white;
}

.abilityCardTextDesc {
  bottom: 8px;
  right: 8px;
  left: 8px;
  height: 20px;
}

.textDescText {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-size: 14px;
  cursor: default;
}

.textDescText.longDesc {
  font-size: 8px;
  position: relative;
  top: 3px;
}

.iconMockShot {
  background: white;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  position: absolute;
  margin-top: -5px;
  margin-left: -6px;
}

.chargeDisplay,
.cardTopLeftContainer {
  width: 50px;
  height: 50px;
  margin-left: 25px;
  margin-top: 35px;

  background-image: url('../assets/icons/clock_large.png');
  background-size: 100%;
  border: 2px solid white;
  color: black;

  position: absolute;
  box-sizing: border-box;
  z-index: 10;
  display: none;
}

.chargeDisplay.cantUseReasonSummon {
  background-image: url('../assets/icons/heart.png');
  border: none;
  border-radius: 0;
}

.chargeDisplay.cantUseReasonSummon .chargeNumber {
  display: none;
}

.cardTopLeftContainer .displayUnitLimit {

}

.disabled .chargeDisplay {
  display: inherit;
}

.chargeNumber, .unitLimitNumber {
  text-align: center;
  margin-top: 0px;
  font-size: 30px;
}

.chargeTypeTurns {
  border-radius: 100%;
}

.timeline, .healthbar_container {
  display: inline-block;
  background: black;
  flex-grow: 1;
  padding: 2px;
  height: 25px;
}

.timeline {
  border-bottom: 1px solid white;
}

.healthbar_container {
  border-top: 1px solid white;
  position: relative;
}

.healthbar_progress, .timeline_progress {
  height: 100%;
  width: 0%;
  background: red;
}

.healthbar_text {
  text-align: center;
  color: red;
  font-size: 14px;
  position: absolute;
  cursor: default;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
}

.healthbar_container:hover .healthbar_text {
  color: white;
}

.timeline_progress {
  background: gray;
}

.playIcon, .pauseIcon, .resetTurnIcon, .stepIcon {
  display: none;
  width: 100%;
  height: 100%;
  padding: 4px;
}

.playButton.play .playIcon,
.playButton.pause .pauseIcon,
.resetTurnIcon,
.stepIcon
 {
  display: block;
}

.playerStatusContainer {
  margin: 0 4px;
  cursor: default;
}

.playerStatusContainer .playerStatus {
  border: 1px solid black;
  border-radius: 6px;
  margin-top: 4px;
  padding: 0 4px;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 2px;
}

.statusIndicator {
  background: red;
  border-radius: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
  margin-left: 3px;
}

.statusIndicator.hasicon {
  background: none;
}

.statusIndicator.ready.noicon {
  background: green;
}

.playerStatus.notready {
  border: 1px solid red;
}

.playerName {
  display: inline-block;
  width: 127px;
}

#warningMessageBox {
  height: 60px;
}

#warningMessageBox,
#gameOverBox {
  position: absolute;
  width: 50%;
  margin-left: 25%;
  background: white;
  border: 5px solid red;
  margin-top: 203px;
  text-align: center;
  font-size: 30px;
  padding-top: 2px;
}

#gameOverBox {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
}

#gameOverBox .statHeaderName,
#gameOverBox .statHeaderDeck,
#gameOverBox .statHeaderAbility,
#gameOverBox .statHeaderDamage {
  font-size: 20px;
  display: inline-block;
}

#gameOverBox .playerName,
#gameOverBox .playerDeck,
#gameOverBox .playerAbility,
#gameOverBox .playerDamage {
  font-size: 14px;
  display: inline-block;
}

#gameOverBox .statHeaderName,
#gameOverBox .playerName {
  width: 30%;
}

#gameOverBox .statHeaderDeck,
#gameOverBox .playerDeck {
  width: 40%;
}

#gameOverBox .statHeaderDamage,
#gameOverBox .playerDamage {
  width: 30%;
}

#gameOverBox #controls {
  font-size: 16px;
  position: relative;
}

#gameOverBox .retryButton {
  float: left;
  margin: 6px;
  color: black;
  text-decoration: none;
}

#gameOverBox .nextLevelButton {
  float: right;
  margin: 6px;
  color: black;
  text-decoration: none;
}

.statTooltip {
  margin-left: 0px;
  margin-right: 0px;
}

.large.tooltip-inner {
  max-width: 360px;
  width: 360px;
  position: relative;
}

.statTooltip {
  font-size: 12px;
}

.statTooltipTitle {
  font-size: 12px;
}

.statTooltipAbilityName {
  margin: 4px;
  max-width: 140px;
  width: 140px;
  text-align: left;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: hidden;
}

.statTooltipDamage, .statTooltipDamagePerUse, .statTooltipAbilityUses {
  width: 80px;
  margin: 4px;
  padding: 0px 10px;
  text-align: right;
  position: absolute;
  right: 84px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: hidden;
}

.statTooltipDamagePerUse {
  right: 4px;
  width: 80px;
}

.statTooltipAbilityUses {
  right: 164px;
  width: 40px;
  padding: 0px;
}

#playerSetupBoard {
  width: 766px;
  height: 600px;
  position: relative;
}

#gameOverBox .statRow {
  margin-left: 0px;
  margin-right: 0px;
}

#gameOverBox .statRow:nth-child(even) {
  background: #DDD;
}

#stats {
  padding-bottom: 10px;
}

.playerSetupSection {
  width: 25%;
  height: 100%;
  display: inline;
  float: left;
  display: inline-block;
  padding: 8px;
}

.gameSetupPlayers {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
}

.gameSetupLevelSelect {
  height: 70%;
  width: 100%;
  padding: 10px;
  position: relative;
  background: #EEEEEE;
}

.playerSection {
  height: 100%;
  width: 100%;
  background: rgba(100, 255, 100, 0.4);
}

.playerSetupInner {
  width: 100%;
  height: 100%;
  background: #EEEEEE;
}

.playerNameDisplay {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px
}

.quitButton,
.startButton,
.joinGameButton,
.abilityDeckName {
  text-align: center;
  margin-bottom: 6px;
}

.fullWidth {
  width: 100%;
}

.centerText {
  text-align: center;
}

.levelSelect.world {
  width: 20%;
  float: left;
  margin-top: 140px;
}

.levelSelect .level {
  border: 1px solid black;
  cursor: default;

  width: 40px;
  height: 40px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.difficultySelect .button {
  cursor: default;
}

.isHost .levelSelect .level,
.isHost .difficultySelect .button {
  cursor: pointer;
}

.levelSelect.world1 .level {
  background: #E7846D;
}
.levelSelect.world2 .level {
  background: #5A59A1;
}
.levelSelect.world3 .level {
  background: #7D4D9A;
}
.levelSelect.world4 .level {
  background: #95CF61;
}
.levelSelect.world5 .level {
  background: #E7CA6D;
}

.levelSelect .level.selected {
  border: 4px dashed black;
}

.levelSelect .boss:after {
  content: "Boss";
}

.levelSelect.world1 .boss:after,
.levelSelect.world2 .boss:after,
.levelSelect.world3 .boss:after,
.levelSelect.world4 .boss:after,
.levelSelect.world5 .boss:after {
  content: "";
}

.levelSelect.world1 .boss {
  background-image: url('../assets/enemies/enemy_boss_healer.png');
  background-size: 100%;
}

.levelSelect.world2 .boss {
  background-image: url('../assets/enemies/enemy_boss_slime.png');
  background-size: 100%;
}

.levelSelect.world3 .boss {
  background-image: url('../assets/enemies/enemy_warlock.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.levelSelect.world4 .boss {
  background-image: url('../assets/enemies/enemy_boss_king.png');
  background-size: 100%;
}

.levelSelect.world5 .boss {
  background-image: url('../assets/enemies/enemy_boss_wizard.png');
  background-size: 100%;
}

.levelSelect .levelContainer {
  display: inline-block;
  margin: 0 20%;
}

.levelSelect .level.boss {
  width: 80px;
  height: 80px;
}

.levelSelect .level.disabled {
  background: lightgray;
  cursor: default;
}

.button {
  border-radius: 4px;
  padding: 4px 20px;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #000;
}

.button.small {
  padding: 2px 16px;
}

.button.red {
  background: #FF7777;
}

.button.green, .button.selected {
  background: #88ff88;
}

.button.disabled {
  background: repeating-linear-gradient(
    45deg,
    #A7A7A6,
    #A7A7A6 10px,
    #7A7A7A 10px,
    #7A7A7A 15px
  );
  cursor: default;
}
.button.disabled.red {
  background: repeating-linear-gradient(
    45deg,
    #FF7777,
    #FF7777 10px,
    #7A7A7A 10px,
    #7A7A7A 15px
  );
}

.joinGameButton {
  position: relative;
  top: 70px;
}

.replacedText {
  color: yellow;
}

.abilityCardTextDesc .replacedText {
  color: white;
}

.cardTooltipName {
  border-bottom: 1px solid white;
}

.cardTooltipName .cooldownIcon {
  top: 7px;
  right: 3px;
}

.cardTooltipName .topLeftIcon {
  top: 6px;
}

.cardTooltipDescription {
  text-align: left;
}

.noselect {
  cursor: default;
}

.button,
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}

#errorBox, #hintBox {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  height: 2em;
  z-index: 1;
  background: black;
  color: red;
  display: none;
}

#hintBox {
  border: 4px solid white;
  color: white;
  margin-top: -1em;
  text-align: center;
  top: 50%;
}

#hintBox.noText {
  display: none !important;
}

#gameBoard {
  position: relative;
}
